#header {
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100px;
  background: rgb(192, 220, 175);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  box-sizing: border-box;
  padding: 0 5%;
}

#menu-div {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 30px;
}

#logo-s {
  object-fit: contain;
  height: 45px;
}

.search-block {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  width: 50%;
  max-width: 510px;
  min-width: 250px;
  height: 30px;
}

#header-icons {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.basket,
.profile,
.menu {
  object-fit: contain;
  width: 100%;
  height: 30px;
}

/* extra styles for max-width 1024px */

@media (max-width: 1024px) {
  #header-icons {
    gap: 15px;
  }

  .search-block {
    width: 70%;
  }
}

/* extra styles for max-width 640px */

@media (max-width: 640px) {
  #header-icons {
    gap: 10px;
  }

  .search-block {
    width: 85%;
  }
}
