#offer-page {
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  padding: 40px 5%;
}

/* presentation card */
.presentation-card {
  width: 100%;
  height: 500px;
  padding-bottom: 20px;
  position: relative;
}

.pcard-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 40%;
}

.pcard-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  width: 500px;
}

.pcard-title {
  margin: auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-block: 30px;
  max-width: 500px;
}

.explore-button {
  font-family: houschka-pro, sans-serif;
  font-size: 26px;
  color: rgb(192, 220, 175);
  background: rgb(66, 104, 88);
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 10px;
  opacity: 0.9;
  border: none;
  cursor: pointer;
}

/* offer cards */
#offers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2%;
}

.offer-card {
  width: 32%;
  height: 250px;
  position: relative;
}

.ocard-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 0 40%;
}

.ocard-title {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 80%;
  max-width: 245px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

/* extra styles for max-width 1024px */

@media (max-width: 1024px) {
  .pcard-title {
    font-size: 2.2rem;
    max-width: 420px;
  }

  .explore-button {
    font-size: 24px;
  }

  .offer-card {
    height: 200px;
  }

  .ocard-img {
    height: 200px;
  }

  .ocard-title {
    font-size: 24px;
    max-width: 180px;
  }
}

/* extra styles for max-width 640px */

@media (max-width: 640px) {
  .presentation-card {
    height: 300px;
  }

  .pcard-img {
    height: 300px;
  }

  .pcard-title {
    font-size: 1.8rem;
    max-width: 340px;
  }

  .explore-button {
    font-size: 20px;
  }

  #ocards-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .ocards-mobile-l {
    display: flex;
    width: 48%;
  }

  .ocard-mobile-l {
    width: 48%;
    height: 320px;
    position: relative;
  }

  .ocard-mobile-l-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 0 40%;
  }

  .ocards-mobile-r {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 20px;
  }

  .ocard-mobile-r {
    width: 100%;
    height: 150px;
    position: relative;
  }

  .ocard-mobile-r-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0 50%;
  }

  .offer-card {
    height: 120px;
  }

  .ocard-img {
    height: 120px;
  }

  .ocard-title {
    font-size: 20px;
    max-width: 150px;
  }
}

/* extra styles for max-width 450px */

@media (max-width: 450px) {
  .pcard-title {
    font-size: 1.3rem;
    max-width: 270px;
  }

  .explore-button {
    font-size: 16px;
  }

  #ocards-mobile {
    gap: 15px;
  }

  .ocard-title {
    font-size: 16px;
    max-width: 150px;
  }
}
