body {
  margin: 0;
  font-family: houschka-pro, sans-serif;
  box-sizing: border-box;
}

/* css shortcuts */
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
