body {
  margin: 0;
  font-family: houschka-pro, sans-serif;
  box-sizing: border-box;
}

/* Houschka Pro Light
font-family: houschka-pro, sans-serif;
font-weight: 300;
font-style: normal;


Houschka Pro Bold
font-family: houschka-pro, sans-serif;
font-weight: 700;
font-style: normal; */
